.background {

    background: linear-gradient(to right, #ff7e5f, #feb47b);
    width: 100vw;
    height: 100vh;
    position: relative;

}

/* NAVBAR */

.wrapper {
    padding: 0;
    position: relative;
}

.init {
    display: block;
    unicode-bidi: isolate;
    background-color: white;
}

.header{
    flex-wrap: wrap;
    border-bottom: 1px solid black;
}

.profile_navigation{
    justify-content: flex-end;
    margin-left: auto;
    gap: 1.5rem;
}

/* CONTAINER */

.contenedor{
    display: flex;
}


/* SIDEBAR */
.sidebar{
    width: 29%;
    padding: 0;
    height: calc(100vh - 65px);
    background: black;
    z-index: 999;
}

.opciones {
    max-height: 50vh;
    min-height: 50vh;
    padding: 4px 0;
    background: #18202b;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.opciones a {
    min-width: 20vh;
    min-height: 10vh;
    background: #232f40;
    padding: 5px;
    margin: 5px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #bec9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 0.9rem;
    transition: all 0.5s ease-in-out;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 600px) {
    .opciones a {
        min-width: 40vw; /* Ajusta el ancho mínimo */
        min-height: 20vh; /* Ajusta la altura mínima */
        margin: 2px; /* Reduce el margen */
    }
}

.menu {
    padding: 10px;
    overflow-y: auto;
}
.menu-item {
    margin-bottom: 10px;
}
.menu-option {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
    background: #232f40;
    color: #bec9d9;
    border-radius: 4px;
    transition: background 0.3s ease;
}
.menu-option:hover {
    background: #2e3c52;
}
.menu-option i {
    transition: transform 0.3s ease;
}
.menu-option:hover i {
    transform: translateY(-2px);
}
.submenu {
    background: #18202b;
    padding: 5px 10px;
    border-radius: 4px;
    margin-left: 20px;
}
.submenu p {
    margin: 5px 0;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
    color: white;
    transition: background 0.3s ease;
}
.submenu p:hover {
    background: #2e3c52;
}

/* PANTALLA OPERACIONES */

.operaciones{
    width: 100%;
    height: auto;
}

.zona_menu{
    width: 100%;
    height: auto;
    background-color: white;
}

